<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <h1><a href="index.html">glasses</a></h1>
    <ul class="menu">
      <li><a href="product.html">系列鏡框</a></li>
      <li><a href="store.html">門市據點</a></li>
      <li><a href="blog.html">部落格</a></li>
      <li><a href="faq.html">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container px-1">
      <div class="d-flex jc-between ai-start flex-wrap">
        <div>
          <ul class="menu">
            <li><a href="index.html">首頁</a></li>
            <li><a href="product.html">系列鏡框</a></li>
            <li><a href="store.html">門市據點</a></li>
            <li><a href="blog.html">部落格</a></li>
            <li><a href="faq.html">常見問題</a></li>
          </ul>
          <ul class="contact">
            <li>
              <image src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-phone.svg" alt="電話icon">
              <a href="tel:0800000000">0800-000-000</a>
            </li>
            <li>
              <image src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-mail.svg" alt="電話icon">
              <a href="mailto:glasses@business.com">glasses@business.com</a>
            </li>
          </ul>
        </div>
        <ul class="community">
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg" alt="facebook icon"></a></li>
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg" alt="facebook icon"></a></li>
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg" alt="facebook icon"></a></li>
        </ul>
      </div>
      <hr>
      <div class="clause">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <ul>
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
