*, *::after, *::before {
  box-sizing: border-box;
}
body {
  font-family: $en-font-family, $tw-font-family, sans-serif;
  line-height: 1.5;
}
image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
@each $name, $key in $titles {
  h#{$name} {
    font-size: $key;
  }
  .h#{$name} {
    font-size: $key;
  }
}