.header {
  padding: 30px 56px 29.43px 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: $red-700;
  height: 108px;
  @include pad {
    height: auto;
    padding: 30px 19px 30px 39px;
  }
  @include mobile {
    justify-content: center;
    padding: 0;
  }
  h1 > a {
    @include hide-text;
    display: block;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png);
    background-size: cover;
    width: 80px;
    height: 48.57px;
    &:hover {
      opacity: 0.8;
    }
    @include mobile {
      width: 48px;
      height: 29.14px;
      margin: 10px 0;
    }
  }
  .menu {
    display: flex;
    @include mobile {
      width: 100%;
      flex-wrap: wrap;
    }
    li {
      @include mobile {
        width: 50%;
        margin-left: 0;
        text-align: center;
        border: 1px solid #fff;
        &:hover {
          background: #fff;
        }
      }
    }
    a {
      display: block;
      color: #fff;
      font-size: 1.25rem;
      padding-left: 32px;
      padding-right: 32px;
      border-bottom: 5px solid transparent;
      &:hover {
        font-weight: 700;
        border-bottom: 5px solid #fff;
        @include mobile {
          border-bottom: none;
          color: $red-700;
        }
      }
      @include pad {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include mobile {
        padding: 8px 0;
      }
    }
  }
}
.footer {
  padding: 32px 0 40px 0;
  background: $red-700;
  @include pad {
    padding: 32px 0;
  }
  @include mobile {
    padding: 24px 0;
  }
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding-right: 8px;
    @include pad {
      max-width: 730px;
    }
    @include mobile {
      max-width: 375px;
      padding-right: 3px;
      padding-left: 15px;
    }
  }
  .menu {
    display: flex;
    margin-bottom: 36px;
    @include mobile {
      display: none;
    }
    a {
      color: $white;
      padding-right: 24px;
      padding-left: 24px;
      &:hover {
        text-decoration: underline;
      }
      @include pad {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
  .contact {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      padding-left: 24px;
      @include pad {
        padding-left: 20px;
        margin-bottom: 14px;
      }
      @include mobile {
        padding-left: 0;
        margin-bottom: 7px;
      }
    }
    img {
      width: 36px;
      margin-right: 16px;
      @include pad {
        width: 24px;
        margin-right: 8px;
      }
      @include mobile {
        width: 20px;
        margin-right: 5px;
      }
    }
    a {
      font-size: 36px;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
      @include pad {
        font-size: 20px;
      }
      @include mobile {
        font-size: 16px;
      }
    }
  }
  .community {
    display: flex;
    a {
      display: block;
      padding-right: 16px;
      padding-left: 16px;
      @include pad {
        padding-right: 12px;
        padding-left: 12px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    img {
      @include pad {
        width: 24px;
      }
    }
  }
  hr {
    margin-left: 24px;
    margin-right: 16px;
    @include pad {
      margin-left: 0;
      margin-right: 12px;
    }
  }
  .clause {
    display: flex;
    justify-content: space-between;
    color: $white;
    margin-top: 32px;
    @include mobile {
      flex-direction: column;
      margin-top: 16px;
    }
    p {
      padding-left: 24px;
      @include pad {
        padding-left: 20px;
      }
      @include mobile {
        padding-left: 0;
        margin-bottom: 8px;
      }
    }
    ul {
      display: flex;
      @include mobile {
        flex-direction: column;
      }
      li {
        margin-right: 8px;
        &:nth-last-child(1) {
          margin-right: 0;
        }
        @include pad {
          margin-right: 0;
        }
        @include mobile {
          margin-right: 0;
          margin-bottom: 8px;
          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }
      a {
        color: $white;
        padding-right: 16px;
        padding-left: 16px;
        &:hover {
          text-decoration: underline;
        }
        @include pad {
          padding-right: 12px;
          padding-left: 12px;
        }
        @include mobile {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
  }
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  @include pad {
    max-width: 720px;
  }
  @include mobile {
    max-width: 375px;
  }
}
