//h1隱藏文字
@mixin hide-text {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
/*斷點設定*/
@mixin pad {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
