/*顏色設定*/
$primary: #650300;
$dark: #000;
$gray-700: #555555;
$gray-800: #212529;
$gray-900: #0a0a0a;
$red-100: #AA06010D;
$red-700: #aa0601;
$red-800: #9f1213;
$white: #fff;

$colors: (
  primary: $primary,
  dark: $dark,
  gray-700: $gray-700,
  gray-800: $gray-800,
  gray-900: $gray-900,
  red-100: $red-100,
  red-700: $red-700,
  red-800: $red-800,
  white: $white,
);
/*字體設定*/
$en-font-family: 'Roboto';
$tw-font-family: 'Noto Sans TC';

/*font-size設定*/
$font-size-base: 1rem; //16
// $font-size-1: $font-size-base * 0.875; //14
// $font-size-2: $font-size-base;
// $font-size-3: $font-size-base * 1.25; //20
// $font-size-4: $font-size-base * 1.5; //24
// $font-size-5: $font-size-base * 2; //32
// $font-size-6: $font-size-base * 2.25; //36
// $font-size-7: $font-size-base * 3; //48
// $font-size-8: $font-size-base * 4; //64
$titles: (
  1: $font-size-base * 4,//64
  2: $font-size-base * 3,//48
  3: $font-size-base * 2,//32
  4: $font-size-base * 1.5,//24
  5: $font-size-base * 1.25,//20
  6: $font-size-base * 1,
);
$fws: (
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
);
$align: (
  start: left,
  center: center,
  end: right,
);

/*margin、padding設定*/
$space: 16px;
/*補加*/
$spaces: (
  1: $space * 0.5,//8
  2: $space * 1,
  3: $space * 1.25,//20
  4: $space * 1.875,//30
  5: $space * 2,//32
  6: $space * 2.5,//40
  7: $space * 3,//48
  8: $space * 4,//64
  9: $space * 5,//80
  10: $space * 5.5//88
);

//flex設定
$jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
);
$ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);
